@tailwind base;
@tailwind components;
@tailwind utilities;

.fill-active {
  --color-bg: currentColor;
  --color-content: theme("colors.grey.super_light");
  --color-counter: currentColor;
}

.fill-inactive {
  --color-bg: theme("colors.transparent");
  --color-content: currentColor;
  --color-counter: currentColor;
}
