@tailwind base;
@tailwind components;
@tailwind utilities;

.fill-active {
  --color-bg: currentColor;
  --color-content: theme("colors.grey.super_light");
  --color-counter: currentColor;
}

.fill-inactive {
  --color-bg: theme("colors.transparent");
  --color-content: currentColor;
  --color-counter: currentColor;
}

#toogle-switch::after {
  content: "";
  @apply h-6 w-6 rounded-full bg-grey-dark absolute left-0 top-0 transform scale-95 duration-200
}

#toogle-switch:checked::after {
  @apply transform scale-95 translate-x-6
}

.scrollBar::-webkit-scrollbar {
  display: none;
}