@tailwind base;
@tailwind components;
@tailwind utilities;

.fill-active {
  --color-bg: currentColor;
  --color-content: theme("colors.grey.super_light");
  --color-counter: currentColor;
}

.fill-inactive {
  --color-bg: theme("colors.transparent");
  --color-content: currentColor;
  --color-counter: currentColor;
}

#toogle-switch::after {
  content: "";
  @apply h-6 w-6 rounded-full bg-grey-dark absolute left-0 top-0 transform scale-95 duration-200
}

#toogle-switch:checked::after {
  @apply transform scale-95 translate-x-6
}

.scrollBar::-webkit-scrollbar {
  display: none;
}

.react-pdf__Document span {
  display: none;
 }
 
 .react-pdf__Page__canvas {
   margin: 0 auto;
   max-width: 65px !important;
   height: 80px !important;
   padding-bottom: 3px;
 }
 
 .react-pdf__Page__annotations {
   display: none;
 }
 
 .annotationLayer {
   display: none;
 }
 
 .react-pdf__Page__textContent {
   display: none;
 }

 /* CALENDAR */

.react-calendar {
  width: 250px;
  color: #757575;
}

.react-calendar__navigation {
  display: none;
}

.react-calendar__month-view__weekdays {
  display: none !important
}

/* .react-calendar__month-view__days__day--neighboringMonth {
  display: none;
} */

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__month-view__days__day--weekend {
  color: #DE2F6E;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #d6dadd;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  border-radius: 30px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #76ff8d;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #53e266;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #27A8DF;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
