.chatwidget {
    font-family: inherit
}
/* .rcw-widget-container{
    @apply text-base
} */

/* .rcw-widget-container > button img {
    @apply object-fill
} */

/* .rcw-title {
    @apply bg-grey-light;
    @apply text-grey-dark;
  } */

.rcw-conversation-container .rcw-header {
    @apply bg-grey-medium_light
    text-grey-dark
  }

/* .rcw-open-launcher {
    @apply bg-white;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 100px;
    object-fit: fill;
    content:url("/Users/dirk/Development/Projects/School-s-Cool-2.0/client/src/components/sections/chat/community-chat.png");
} */

.rcw-launcher {
    display: flex;
    align-items: center;
    justify-content: center;
    @apply bg-grey-medium;
    @apply mr-2;

}

.rcw-close-launcher > img{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .rcw-launcher   {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
} */